[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dearpygui = "*"
appdirs = "*"

[dev-packages]
pydeps = "*"
pyinstaller = "*"

[requires]
python_version = "3.12"
python_full_version = "3.12.0"
